<h1>You've added a new course!</h1>
<h4>@Model.GetName()</h4>

<a href='/courses/new'>Add Another course</a>
<p><a href="/students/new">Add a new student</a></p>
<a href='/courses'>View All courses</a>
<p><a href='/'>return home</a></p>
