<h1>You've added a new department!</h1>
<h4>@Model.GetName()</h4>

<a href='/departments/new'>Add Another department</a>
<a href='/departments'>View All departments</a>
<p><a href="/students/new">Add a new student</a></p>
<a href="/students">View all students</a>
<a href='/courses/new'>Add a new course</a>
<a href='/courses'>View All courses</a>
