<h1>Add a new department</h1>
<form action="/departments/new" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>
<a href="/departments">View all departments</a>
<a href="/">Go Back</a>
