<h1>Add a new student</h1>
<form action="/students/new" method="post">
  <label for="name">Student's Name</label>
  <input id="name" name="name" type="text">
  <label for="enrollment">Student's Enrollment</label>
  <input id="enrollment" name="enrollment" type="Date">
  <label for="major">Student's Major</label>
  <input id="major" name="major" type="text">
  <button type="submit">Submit</button>
</form>
<a href="/students">View all students</a>
<a href="/">Go Back</a>
