<h1>University Registrar</h1>
@if(@Model.Count != 0)
{
  @foreach(var student in Model)
  {
    <ul>
      <li><a href="students/@student.GetId()">@student.GetName()</a> | <a href="/students/edit/@student.GetId()">Edit</a> | <a href="/students/delete/@student.GetId()">Delete</a> </li>
    </ul>
  }
  <form action="/students/cleared" method="post">
    <button type="submit">Clear all students</button>
  </form>
}
else
{
  <h2>There is no thing here!</h2>
}
<p>
  <a href="/students/new">Add a new student</a>
</p>
<p><a href="/">Return Home</a></p>
